/examples/defunct/test2_dbtest.py
/test_data/*
*/__pycache__/*

/.idea

# ignore all python compiled binaries
**.pyc

settings/app.py
settings/app_*.py
settings/e_key.bin
settings/e_cred.bin

software/ezseg/**
!software/ezseg/*.f
!software/ezseg/*.pyf
!software/ezseg/*.cu
!software/ezseg/*.sh
!software/ezseg/CHANGELOG
!software/ezseg/README_compile


# ignore the output folders in schema_viz (except schema diagrams)
schema_viz/mysql/output/*
!schema_viz/mysql/output/diagrams
schema_viz/mysql/output/diagrams/*
!schema_viz/mysql/output/diagrams/summary
schema_viz/sqlite/output/*
!schema_viz/sqlite/output/diagrams
schema_viz/sqlite/output/diagrams/*
!schema_viz/sqlite/output/diagrams/summary
/chmap/coronal_holes/tracking/results/
