# ignore contents of test_data directory
/test_data/*

# ignore pycharm project files
/.idea

# ignore all python compiled binaries
*/__pycache__/*
**.pyc

# do not track local user settings/credentials
chmap/settings/app.py
chmap/settings/app_*.py
chmap/settings/e_key.bin
chmap/settings/e_cred.bin

# ignore compiled binaries in ezseg
software/ezseg/**
!software/ezseg/*.f
!software/ezseg/*.pyf
!software/ezseg/*.cu
!software/ezseg/*.sh
!software/ezseg/CHANGELOG
!software/ezseg/README_compile


# ignore the output folders in schema_viz (except schema diagrams)
schema_viz/mysql/output/*
!schema_viz/mysql/output/diagrams
schema_viz/mysql/output/diagrams/*
!schema_viz/mysql/output/diagrams/summary
schema_viz/sqlite/output/*
!schema_viz/sqlite/output/diagrams
schema_viz/sqlite/output/diagrams/*
!schema_viz/sqlite/output/diagrams/summary
/chmap/coronal_holes/tracking/results/
