/examples/defunct/test2_dbtest.py
/test_data/*
*/__pycache__/*

/.idea/modules.xml
/.idea/workspace.xml
/.idea/CHD.iml
/.idea/misc.xml

settings/app.py
settings/app_*.py
settings/e_cred.bin
setup.conf
setup_*

# ignore the output folders in schema_viz
schema_viz/mysql/output/*
schema_viz/sqlite/output/*

